Repository batonogov/gitlab-auto-mr: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-deps, go-fmt, go-lint, go-test, go-build, taskfile-validation, dockerfile-validation

go-deps:
  name: Verify Go dependencies
  entry: task deps-verify
  language: system
  pass_filenames: false
  stages:
  - pre-commit

go-fmt:
  name: Format Go code
  entry: task fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit

go-lint:
  name: Run Go linters
  entry: task lint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

go-test:
  name: Run Go tests
  entry: task test
  language: system
  pass_filenames: false
  stages:
  - pre-commit

go-build:
  name: Verify Go build
  entry: task build
  language: system
  pass_filenames: false
  stages:
  - pre-push

taskfile-validation:
  name: Validate Taskfile syntax
  entry: task --dry --list-all
  language: system
  pass_filenames: false
  stages:
  - pre-commit

dockerfile-validation:
  name: Validate Dockerfile syntax
  entry: sh -c 'if command -v hadolint >/dev/null 2>&1; then hadolint Dockerfile; else echo "Dockerfile syntax check skipped (hadolint not installed)"; fi'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

fix: URL-encode branch names and add per_page=1 in getExistingMR (#65, #70)
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

fix: allow unsetting Squash/RemoveSourceBranch via --update-mr
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

fix: allow unsetting Squash/RemoveSourceBranch via --update-mr (#66)
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

fix: warn on getIssueData failure with --use-issue-name
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

fix: warn on getIssueData failure with --use-issue-name (#67)
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

refactor: make parseFlags testable by returning an error
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

refactor: make parseFlags testable by returning an error (#68)
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

chore: fix lint findings (goconst, importShadow)
  main.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

ci: pin GitHub Actions to commit SHAs
  .github/workflows/ci.yml
  .github/workflows/docker-image.yml
  .github/workflows/greetings.yml
  .github/workflows/pr-status.yml
  .github/workflows/release-coordination.yml
  .github/workflows/release-please.yml
  .github/workflows/scheduled-release.yml
Due: none

ci: pin GitHub Actions to commit SHAs (#133)
  .github/workflows/ci.yml
  .github/workflows/docker-image.yml
  .github/workflows/greetings.yml
  .github/workflows/pr-status.yml
  .github/workflows/release-coordination.yml
  .github/workflows/release-please.yml
  .github/workflows/scheduled-release.yml
Due: none

feat: add --trigger-pipeline to create a merge request pipeline
  README.md
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

fix: address review of --trigger-pipeline
  README.md
  examples/.gitlab-ci.yml
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

feat: add --trigger-pipeline to create a merge request pipeline (#143)
  README.md
  examples/.gitlab-ci.yml
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

chore: ignore the dash-named build artifact
  .gitignore
Due: none

chore: ignore the dash-named build artifact (#159)
  .gitignore
Due: none

chore: ignore the hyphenated binary name
  .gitignore
Due: none

ci: make golangci-lint and gosec blocking
  .github/workflows/ci.yml
  main.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

feat: support GITLAB_AUTO_MR_TARGET_BRANCH
  README.md
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

docs: document token ownership and fix stale CLAUDE.md notes
  CLAUDE.md
  README.md
Due: none

chore(docker): drop redundant chmod and run as non-root
  Dockerfile
Due: dockerfile-validation

refactor: route every API call through one request helper, with context
  README.md
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

feat: retry transient GitLab failures, make the timeout configurable
  README.md
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

fix: retry a request that outran --timeout
  README.md
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

docs: document token ownership and fix stale CLAUDE.md notes (#152)
  CLAUDE.md
  README.md
Due: none

chore(docker): drop redundant chmod and run as non-root (#154)
  Dockerfile
Due: dockerfile-validation

ci: make golangci-lint and gosec blocking (#155)
  .github/workflows/ci.yml
  main.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

feat: support GITLAB_AUTO_MR_TARGET_BRANCH (#156)
  README.md
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

fix: reject a negative --milestone, keep mergeLabels' nil contract exact
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

feat: add --label and --milestone flags
  README.md
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

feat: add --label and --milestone flags (#157)
  README.md
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

feat: print the MR URL after create, update and existence checks
  README.md
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

feat: print the MR URL after create, update and existence checks (#158)
  README.md
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

fix: create at most one merge request pipeline per commit
  README.md
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

fix: create at most one merge request pipeline per commit (#165)
  README.md
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

refactor: route every API call through one request helper, with context (#161)
  README.md
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

feat: add --ca-cert for a self-hosted GitLab behind a private CA
  README.md
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

Path conditions:
  go-deps: any of: \.go$
  go-fmt: any of: \.go$
  go-lint: any of: \.go$
  go-test: any of: \.go$
  go-build: any of: \.go$
  taskfile-validation: any of: ^Taskfile\.yml$
  dockerfile-validation: any of: ^Dockerfile$
