Repository batonogov/gitlab-auto-mr: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-deps, go-fmt, go-lint, go-test, go-build, taskfile-validation, dockerfile-validation

go-deps:
  name: Verify Go dependencies
  entry: task deps-verify
  language: system
  pass_filenames: false
  stages:
  - pre-commit

go-fmt:
  name: Format Go code
  entry: task fmt
  language: system
  pass_filenames: false
  stages:
  - pre-commit

go-lint:
  name: Run Go linters
  entry: task lint
  language: system
  pass_filenames: false
  stages:
  - pre-commit

go-test:
  name: Run Go tests
  entry: task test
  language: system
  pass_filenames: false
  stages:
  - pre-commit

go-build:
  name: Verify Go build
  entry: task build
  language: system
  pass_filenames: false
  stages:
  - pre-push

taskfile-validation:
  name: Validate Taskfile syntax
  entry: task --dry --list-all
  language: system
  pass_filenames: false
  stages:
  - pre-commit

dockerfile-validation:
  name: Validate Dockerfile syntax
  entry: sh -c 'if command -v hadolint >/dev/null 2>&1; then hadolint Dockerfile; else echo "Dockerfile syntax check skipped (hadolint not installed)"; fi'
  language: system
  pass_filenames: false
  stages:
  - pre-commit

Upgrade Go version to 1.25
  .github/workflows/ci.yml
  .github/workflows/pr-status.yml
  .github/workflows/release-please.yml
  README.md
Due: none

Upgrade Go version to 1.25 (#39)
  .github/workflows/ci.yml
  .github/workflows/pr-status.yml
  .github/workflows/release-please.yml
  README.md
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

feat: add explicit --update-mr flag requirement
  .pre-commit-config.yaml
  README.md
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

feat: add explicit --update-mr flag requirement (#47)
  .pre-commit-config.yaml
  README.md
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

Fix dockefile
  Dockerfile
Due: dockerfile-validation

Fix dockefile (#53)
  Dockerfile
Due: dockerfile-validation

Fix Docker image name for PR builds
  .github/workflows/docker-image.yml
Due: none

chore: include chore in release-please sections
  .release-please-config.json
Due: none

fix: use server-side filtering in getExistingMR to avoid pagination issues
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

fix(ci): use ** glob pattern in auto-pr workflow to match branches with slashes
  .github/workflows/auto-pr.yml
Due: none

feat: add --version/-v flag with build-time version info
  .github/workflows/docker-image.yml
  Dockerfile
  Taskfile.yml
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build, taskfile-validation, dockerfile-validation

fix: pass version build-args to Docker in release workflow
  .github/workflows/release-please.yml
Due: none

feat: add --auto-merge flag to enable merge when pipeline succeeds
  CLAUDE.md
  README.md
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

fix: handle empty response body from createMR gracefully
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

fix: adjust message when MR exists with --auto-merge
  main.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

test: add TestAcceptMR406 for unresolved discussions error
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

fix: distinguish empty vs malformed JSON in createMR response
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

fix: return error for malformed JSON in createMR response
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

docs: remove hardcoded versions from README
  README.md
Due: none

fix: reject --auto-merge with draft commit prefix
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

chore: migrate golangci-lint config to v2 and fix all lint issues
  .golangci.yml
  CLAUDE.md
  Taskfile.yml
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build, taskfile-validation

fix: address review feedback on lint config and code style
  .gitignore
  .golangci.yml
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

chore: remove Python legacy entries from .gitignore
  .gitignore
Due: none

fix: URL-encode branch names and add per_page=1 in getExistingMR
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

fix: allow unsetting Squash/RemoveSourceBranch via --update-mr
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

fix: warn on getIssueData failure with --use-issue-name
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

refactor: make parseFlags testable by returning an error
  main.go
  main_test.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

chore: fix lint findings (goconst, importShadow)
  main.go
Due: go-deps, go-fmt, go-lint, go-test, go-build

ci: remove auto-pr workflow
  .github/workflows/auto-pr.yml
Due: none

ci: run CI on all PRs and fix greetings action inputs
  .github/workflows/ci.yml
  .github/workflows/docker-image.yml
  .github/workflows/greetings.yml
  .github/workflows/pr-status.yml
Due: none

ci: remove auto-pr workflow (#117)
  .github/workflows/auto-pr.yml
Due: none

Path conditions:
  go-deps: any of: \.go$
  go-fmt: any of: \.go$
  go-lint: any of: \.go$
  go-test: any of: \.go$
  go-build: any of: \.go$
  taskfile-validation: any of: ^Taskfile\.yml$
  dockerfile-validation: any of: ^Dockerfile$
